{% extends "admin/admin_base.html" %}
{% block body %}

<div class=container>
  <table class="table table-condensed table-striped">
  	<!-- Table Header -->
    <thead>
      <tr>
        <th colspan="4" style="text-align: center;">{{ date }}</th>
      </tr>
      <tr>
        <th scope="col"> In/Out </th>
        <th scope="col"> Name </th>
        <th scope="col"> Message </th>
        {% if admin %}
        <th> </th>
        {% endif %}
      </tr>
    </thead>

	<!-- Table for Admins and Staff -->
    {% if admin or staff %}
	    <tbody>
	      {% for user in users %}
	      <tr>
	        <td scope="row">
		        {% if user.is_in() %}
		          <button type="button" data-inout class="btn btn-success inout" name="in" id="{{ user.id }}">In</button>
		        {% else %}
		          <button type="button" data-inout class="btn btn-danger inout" name="out" id="{{ user.id }}">Out</button>
		        {% endif %}
	        </td>
	        <td scope="row">
	          <a href="{{ user.url }}">{{ user.name }}</a>
	        </td>
	        <td class="msg_field">
				{% if user.msg == "" %}
					<a href="#" data-msg id="{{ user.id }}" name='{{ user.id }}' data-toggle="modal" data-target="#myModal" style="color: #000000; text-decoration: none;"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
				{% else %}
					<a href="#" data-msg id="{{ user.id }}"  data-toggle="modal" data-target="#myModal" name='{{ user.id }}' style="color: #000000; text-decoration: none;">{{ user.msg }}</a>
				{% endif %}
	        </td>
	        {% if admin %}
		        <td>
		          <button type="button" class="btn btn-default" onclick="location.href='{{ url_for('admin.edit_user', uid=user.id) }}'"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
		        </td>
	        {% endif %}
	      </tr>
	      {% endfor %}
	    </tbody>

	    <!-- Table for Department and Guests -->
		{% else %}
	  	<tbody>
			{% for user in users %}
				{% if not admin and not staff %}
			      <tr>
			        <td scope="row">
				      	  {% if user.is_in() %}
				          <button type="button" class="btn btn-success inout" id="{{ user.id }}">In</button>
				          {% else %}
				          <button type="button" class="btn btn-danger inout" id="{{ user.id }}">Out</button>
				          {% endif %}
			        </td>
			        <td scope="row">
			          <a href="{{ user.url }}">{{ user.name }}</a>
			        </td>
			        <td>
		          	<p id="{{ user.id }}">{% if dept %}{{ user.msg }}{% endif %}</p>
			        </td>
			      </tr>
				{% endif %}
			{% endfor %}
	    </tbody>

    {% endif %}
  </table>

  	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Message</h4>
	      </div>
	      <div class="modal-body">
	        <textarea rows="2" type="text" class="msg_input form-control" size=40 id="modal_text"></textarea>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" id="modal_clear_btn">Clear</button>
	        <button type="button" class="btn btn-primary" id="modal_save_btn">Save</button>
	      </div>
	    </div>
	  </div>
	</div>
</div>

<script type="text/javascript">

$('#myModal').on('show.bs.modal', function (event) {
	var button = $(event.relatedTarget);
	var uid = button.attr("id"); 
	var name = button.attr('name');
	var msg = button.text();

	var modal = $(this)
	modal.find('.modal-body textarea').val(msg)

	var save = function(clear){
		if (clear) {
			new_msg = "";
		} else {
	  		new_msg = document.getElementById('modal_text').value;
		}
	    // var $p = $('<p data-msg id=' + uid + ' name='+ name + ' />').text( new_msg );
	    // $el.replaceWith($p)

	    var jsonArr = [];
	    jsonArr.push({
			uid: uid,
			msg: new_msg
	    });

		$.getJSON($SCRIPT_ROOT + '/message_submit', {
			new_msgs: JSON.stringify(jsonArr)
			}, function(data) {
				location.reload()
			}
		);
	};

	$("#modal_save_btn").click(function() {
		save(false);
		$("#myModal").modal("toggle");
	});

	$("#modal_clear_btn").click(function() {
		save(true);
		$("#myModal").modal("toggle");
	});

})


$('body').on('click', '[data-inout]', function(){
	var $el = $(this);
	var uid = $el.attr('id');
	var state = $el.attr('name');

	var toggle_inout = function(){
		var $out_btn = $('<button type="button" data-inout class="btn inout btn-danger" name="out" id="' + uid + '">Out</button>')
		var $in_btn = $('<button type="button" data-inout class="btn inout btn-success" name="in" id="' + uid + '">In</button>')
		$.getJSON($SCRIPT_ROOT + '/inOutToggle', {
				uid: uid
			}, function(data) {
				if (data.state) {
					$el.replaceWith( $in_btn );
				} else {
					$el.replaceWith( $out_btn );
				}
			}
		);
	return false;
	};
	toggle_inout();
});

var toggle_inout_button = function () {
  var button = document.getElementById('refresh_btn');
  button.innerHTML = 'Save';
  button.setAttribute('onclick', 'submit_all_msgs()');
  saved = false;
};

var toggle_inout = function(uid) {
  var jsonArr = [];

  $('.msg_input').each( function(i, obj) {
    var uid1 = obj.getAttribute('name');
    jsonArr.push({
      uid: uid1,
      msg: $('textarea[id='.concat(uid1,']')).val()
    })
  });

  $.getJSON($SCRIPT_ROOT + '/message_submit', {
    new_msgs: JSON.stringify(jsonArr)
  }, function(data) {
    location.reload()
  });

  return false;
};

var blurred = false;
window.onblur = function() { blurred = true; };
window.onfocus = function() {
  blurred && (location.reload());
};
</script>
{% endblock %}
