{% extends "base.html" %}
{% block body %}
<div class=container>
  {% if staff or admin %}
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th colspan="3" style="text-align: center;">{{ date }}</th>
      </tr>
      <tr>
        <th> In/Out </th>
        <th> Name </th>
        <th> Message </th>
        {% if admin %}
        <th> Options </th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td scope="row">
          {% if staff or admin %}
          {% if user.is_in() %}
          <a name="user"  href="{{ url_for('inOutToggle', uid=user.id) }}"><button type="button" class="btn btn-danger">Out</button></a>
          {% else %}
          <a name="user" href="{{ url_for('inOutToggle', uid=user.id) }}"><button type="button" class="btn btn-success">In</button></a>
          {% endif %}
          {% endif %}
        </td>
        <td scope="row">
          <a href="{{ user.url }}">{{user.name}}</a>
        </td>
        <td>
          {% if staff or admin %}
          <input type="text" class="msg_input form-control" size=30 id="{{ user.id }}" name='{{user.id}}' value="{{user.msg}}" ></input>
          <!-- <button type="button" class="btn btn-default" id="submit_button" onClick="submit_msg({{user.uid}})">Submit</buttton> -->
          {% endif %}
        </td>
        {% if admin %}
        <td>
          <button type="button" class="btn btn-primary" onclick="location.href='{{ url_for('edit_user_page', uid=user.id) }}'">Edit</button>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>

<script type="text/javascript">
var timerId = 0;
var saved = true;
// Useful for turning serialized db from python into javascript readable:
//    http://stackoverflow.com/questions/23038710/accessing-python-list-in-javascript-as-an-array

var submit_all_msgs = function() {
  var jsonArr = [];

  $('.msg_input').each( function(i, obj) {
    var uid1 = obj.getAttribute('name');
    jsonArr.push({
      uid: uid1,
      msg: $('input[id='.concat(uid1,']')).val()
    })
  });

  $.getJSON($SCRIPT_ROOT + '/message_submit', {
    new_msgs: JSON.stringify(jsonArr)
  }, function(data) {
    location.reload()
  });

  return false;
};

var test = function() {
  alert(uids);
  var asdf = JSON.parse(uids);
  var i = 0;
  while ( i < asdf.length) {
    alert(asdf[i]);
    i++;
  }
  // for (uid in uids) {
  //  alert(uid);
  // }
};

var change_save_refresh_button = function () {
  var button = document.getElementById('save_refresh_btn');
  button.innerHTML = 'Save';
  button.setAttribute('onclick', 'submit_all_msgs()');
  saved = false;
};

// function() {
//      var button = document.getElementById('save_refresh_btn');
//      button.innerHTML = 'Save';
//      button.setAttribute('onclick', 'submit_all_msgs()');
//      saved = false;
//     }

$(".msg_input").on("input", change_save_refresh_button);

$("#save_button").click(function(){
  saved = true;
});
// var check_change = function(e) {
//  $.getJSON($SCRIPT_ROOT + '/check_change', {lcl: lcl_db},
//    function(data) {
//      var i = 1;
//      while(data["users"][i]) {
//        var user1 = data["users"][i]
//        document.getElementById("1069134").innerHTML =  user1.msg;
//        i++;
//      }
//    });
//  return false;
// };

var blurred = false;
window.onblur = function() { blurred = true; };
window.onfocus = function() {
  saved && blurred && (location.reload());
};
//window.addEventListener("load", check_change , false);
//TODO: Issues with "load", doesnt register that its focused.
// window.addEventListener("focus", function() {
//  window.location.reload();
// }, false);

// window.addEventListener("onclick", function() {

// }, false);

// window.addEventListener("blur", function(){
//  clearInterval(timerId);
// }, false);

</script>
{% endblock %}
