{% extends "base.html" %}
{% block body %}

<div class=container>
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th colspan="4" style="text-align: center;">{{ date }}</th>
      </tr>
      <tr>
        <th> In/Out </th>
        <th> Name </th>
        <th> Message </th>
        {% if admin %}
        <th> </th>
        {% endif %}
      </tr>
    </thead>
    {% if admin or staff %}
	    <tbody>
	      {% for user in users %}
	      <tr>
	        <td scope="row">
	          {% if staff or admin %}
		          {% if user.is_in() %}
		          <a name="user"  href="{{ url_for('inOutToggle', uid=user.id) }}"><button type="button" class="btn btn-danger">Out</button></a>
		          {% else %}
		          <a name="user" href="{{ url_for('inOutToggle', uid=user.id) }}"><button type="button" class="btn btn-success">In</button></a>
		          {% endif %}
		      {% else %}
		      	  {% if user.is_in() %}
		          <a name="user"  href="#"><button type="button" class="btn btn-danger">Out</button></a>
		          {% else %}
		          <a name="user" href="#"><button type="button" class="btn btn-success">In</button></a>
		          {% endif %}
	          {% endif %}
	        </td>
	        <td scope="row">
	          <a href="{{ user.url }}">{{user.name}}</a>
	        </td>
	        <td>
	          {% if staff or admin %}
	          <!-- <input type="text" class="msg_input form-control" size=40 id="{{ user.id }}" name='{{user.id}}' value="{{user.msg}}" ></input> -->
	          <!-- <textarea rows="1" type="text" class="msg_input form-control" size=40 id="{{ user.id }}" name='{{user.id}}' >{{user.msg}}</textarea> -->
		          {% if user.msg == "" %}
		          	<p data-editable id="{{ user.id }}" name='{{user.id}}'>n/a</p>
		          {% else %}
		          	<p data-editable id="{{ user.id }}" name='{{user.id}}'>{{user.msg}}</p>
		          {% endif %}

	          {% else %}
	          <textarea rows="1" type="text" class="msg_input form-control" size=40 id="{{ user.id }}" name='{{user.id}}' readonly>{{user.msg}}</textarea>
	          {% endif %}
	        </td>
	        {% if admin %}
	        <td>
	          <button type="button" class="btn btn-default" onclick="location.href='{{ url_for('edit_user_page', uid=user.id) }}'"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
	        </td>
	        {% endif %}
	      </tr>
	      {% endfor %}
	    </tbody>
	  {% else %}	
	  	<tbody>
	      {% for user in users %}
	      {% if not user.id == curr_uid %}
	      <tr>
	        <td scope="row">
		      	  {% if user.is_in() %}
		          <a name="user"  href="#"><button type="button" class="btn btn-danger">Out</button></a>
		          {% else %}
		          <a name="user" href="#"><button type="button" class="btn btn-success">In</button></a>
		          {% endif %}
	        </td>
	        <td scope="row">
	          <a href="{{ user.url }}">{{user.name}}</a>
	        </td>
	        <td>
	          {% if staff or admin %}
	          <input type="text" class="msg_input form-control" size=40 id="{{ user.id }}" name='{{user.id}}' value="{{user.msg}}" ></input>

	          {% else %}
	          <input type="text" class="msg_input form-control" size=40 id="{{ user.id }}" name='{{user.id}}' value="{{user.msg}}" readonly ></input>
	          {% endif %}
	        </td>
	        {% if admin %}
	        <td>
	          <button type="button" class="btn btn-default" onclick="location.href='{{ url_for('edit_user_page', uid=user.id) }}'"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
	        </td>
	        {% endif %}
	      </tr>
	      {% endif %}
	      {% endfor %}
	    </tbody>
    {% endif %}
  </table>
</div>

<script type="text/javascript">

$('body').on('click', '[data-editable]', function(){
  var $el = $(this);
  var uid = $el.attr('id');
  var name = $el.attr('name');
              
  var $input = $('<textarea rows="2" type="text" class="msg_input form-control" size=40 />').val( $el.text() );
  $el.replaceWith( $input );
  
  var save = function(){
  	var new_msg = $input.val();
    var $p = $('<p data-editable id=' + uid + ' name='+ name + ' />').text( new_msg );
    $input.replaceWith( $p );

    var jsonArr = [];
    jsonArr.push({
      uid: uid,
      msg: new_msg
    });
	
	$.getJSON($SCRIPT_ROOT + '/message_submit', {
	new_msgs: JSON.stringify(jsonArr)
	}, function(data) {});

	return false;
  };
  

	$input.one('blur', save).focus();

	$input.keyup(function (e) {
	    if (e.keyCode == 13) {
	        save();
	    }
	});


});


/*
Deprecated. 

var change_save_refresh_button = function () {
  var button = document.getElementById('save_refresh_btn');
  button.innerHTML = 'Save';
  button.setAttribute('onclick', 'submit_all_msgs()');
  saved = false;
}; */

/*
Deprecated.

var submit_all_msgs = function() {
  var jsonArr = [];

  $('.msg_input').each( function(i, obj) {
    var uid1 = obj.getAttribute('name');
    jsonArr.push({
      uid: uid1,
      msg: $('textarea[id='.concat(uid1,']')).val()
    })
  });

  $.getJSON($SCRIPT_ROOT + '/message_submit', {
    new_msgs: JSON.stringify(jsonArr)
  }, function(data) {
    location.reload()
  });

  return false;
}; 
*/


// $(".msg_input").on("input", change_save_refresh_button);

// $("#save_button").click(function(){
//   saved = true;
// });

// var blurred = false;
// window.onblur = function() { blurred = true; };
// window.onfocus = function() {
//   saved && blurred && (location.reload());
// };

/*
Deprecated. 

var check_change = function(e) {
 $.getJSON($SCRIPT_ROOT + '/check_change', {lcl: lcl_db},
   function(data) {
     var i = 1;
     while(data["users"][i]) {
       var user1 = data["users"][i]
       document.getElementById("1069134").innerHTML =  user1.msg;
       i++;
     }
   });
 return false;
};
*/
</script>
{% endblock %}
